<div class="jumbotron text-center text-light">
    <h1 class="display-4">New News</h1>
    <p class="lead">Powered by New York Times</p>
    <hr class="my-4">
    <h2>Saved Articles</h2>
</div>
<div class="container">
    {{!-- cards for articles --}}
    {{#each articles}}
    <div class="card m-4" style="width: 100%;">
        <div class="card-body p-0">
            <a href='{{link}}'>
                <div class="card-header bg-primary">
                    <h5 class="card-title text-light">{{title}}</h5>
                </div>
                <p class="card-text text-dark p-4">{{summary}}</p>
            </a>
            <div class="notes px-4">
                <h5>Notes:</h5>
                <ul>
                    {{#each notes}}
                        <li>
                            <p>
                                <span class="note">{{this}}</span>
                                <button class="btn btn-danger delete-note" data-id="{{../_id}}" data-index="{{@index}}">Delete Note</button>
                            </p>
                        </li>
                    {{/each}}
                </ul>
                <form>
                    <div class="form-group">
                        <input type="note" class="form-control new-note" placeholder="New Note">
                    </div>
                    <button class="btn btn-success add-note" data-id ="{{_id}}">Add Note</button>
                </form>
            </div>
            <button class="btn btn-lg btn-danger float-right deleteArticle mx-4 mb-4" data-id= "{{_id}}">Delete Article</button>
        </div>
    </div>
    {{/each}}
</div>

<script src="/JS/saved-articles.js"></script>